:root {
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%); 
}
* {
    box-sizing: border-box;
}

body {
    background-color: var(--stone-100);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    font-family: "Outfit", sans-serif;
    color: var(--brown-800);
    line-height: 1.25rem;

}

.recipe {
    position: relative;
    text-align: center;
    background-color: white;
    margin:  2rem auto 1rem;
    max-width: 50rem;
    border-radius: 1rem;
    padding: 2rem;
}
h1, h2 {
    font-family: "Young Serif", sans-serif;
}
h1 {
    color: var(--stone-900);
    font-weight: 400;
}
h2 {
    font-weight: 400;
    margin-left: 1.25rem;
}

img {
    width: 95%;
    border-radius: 1.2rem;
}
header, header p {
    text-align: left;
    font-size: 0.7rem;
}

section {
    text-align: left;
}
.prep {
    font-weight: 600;
    padding: 0.7rem;
    margin: 1rem 1rem -1rem 1rem;
    font-size: 0.8rem;
    color: var(--stone-600);
} 
span {
    font-weight: 600;
}

.time {
    background-color: var(--rose-50);
    font-weight: 400;
    margin-left: 1.25rem; 
    font-size: 0.6rem;
}
li {
    padding-left: 0.7rem;
}
.time li {
    margin: 0;
}
.instructions span {
    font-weight: 800;
}
.nutrition {
    margin-left: 1.25rem;
}
.nutrition h2 {
    margin-left: 0.3rem;
}
.nutrition p {
    font-size: 0.7rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}
tr {
    line-height: 2rem;
    color: var(--stone-600);
}
tr:not(:last-child) {
    border-bottom: 1px solid var(--stone-150);
}
.amount {
    font-weight: 600;
}
hr {
    height: 1px;
    border: none;
    background-color: var(--stone-150);
}

@media (width < 600px){
    .recipe {
        width: 80%;
    }
    
}
